<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="mmp_panda">
		<model dir="./resources" path="mmp_panda.urdf" name="mmp_panda" />
		<origin xyz="0.0 0.0 0.15" rpy="0 0 0" />
	</robot>

	<!--if change position on tipe of the object, it need to change the ofset,dimensions and shelf in the controller and simviz-->
	<robot name="jar1"><!--IN SHELF 2-->
		<model dir="./resources" path="jar.urdf" name="jar" />
		<origin xyz="2.35 -0.9 0.7" rpy="0 0 0" />
		<!--<origin xyz="0.0 -0.65 0.2" rpy="0 0 0" />-->
	</robot>
	

	<robot name="jar2"><!--IN SHELF 13-->
		<model dir="./resources" path="jar.urdf" name="jar" />
		<origin xyz="-1.3 0.9 1.0" rpy="0 0 0" />
	</robot>

	<robot name="jar3"><!--IN SHELF 8-->
		<model dir="./resources" path="jar.urdf" name="jar" />
		<origin xyz="-2.35 -1.65 0.49" rpy="0 0 0" />
	</robot>


	<!--while we dont have basket with right properties, i will place a jar here-->
	<robot name="basket">
		<model dir="./resources" path="basket.urdf" name="basket" />
		<!--<model dir="./resources" path="basket.urdf" name="basket" />-->
		<!--<origin xyz="0.15 0.3 0.3" rpy="0 0 0" />-->
		<origin xyz="0.25 0 0.2" rpy="0 0 0" />
	</robot>

	
	<!--first group-->

	<!--positon and orientation of the shelf need to be includede in controller-->
	<robot name="shelf1">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="1.3 -0.8 0.0" rpy="0 0 0" />
	</robot>
	
	<robot name="shelf2">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="2.35 -0.8 0.0" rpy="0 0 0" />
	</robot>
	
	<robot name="shelf3">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="1.3 -1.75 0.0" rpy="0 0 3.14159265358" />
	</robot>
	
	<robot name="shelf4">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="2.35 -1.75 0.0" rpy="0 0 3.14159265358" />
	</robot>
	
	<!--second group-->
	
	<robot name="shelf5">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="-1.3 -0.8 0.0" rpy="0 0 0" />
	</robot>
	
	<robot name="shelf6">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="-2.35 -0.8 0.0" rpy="0 0 0" />
	</robot>
	
	<robot name="shelf7">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="-1.3 -1.75 0.0" rpy="0 0 3.14159265358" />
	</robot>
	
	<robot name="shelf8">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="-2.35 -1.75 0.0" rpy="0 0 3.14159265358" />
	</robot>
	
	<!--third group-->
	
	<robot name="shelf9">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="1.3 0.8 0.0" rpy="0 0 3.14159265358" />
	</robot>
	
	<robot name="shelf10">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="2.35 0.8 0.0" rpy="0 0 3.14159265358" />
	</robot>
	
	<robot name="shelf11">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="1.3 1.75 0.0" rpy="0 0 0" />
	</robot>
	
	<robot name="shelf12">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="2.35 1.75 0.0" rpy="0 0 0" />
	</robot>
	
	<!--fourth group-->
	
	<robot name="shelf13">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="-1.3 0.8 0.0" rpy="0 0 3.14159265358" />
	</robot>
	
	<robot name="shelf14">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="-2.35 0.8 0.0" rpy="0 0 3.14159265358" />
	</robot>
	
	<robot name="shelf15">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="-1.3 1.75 0.0" rpy="0 0 0" />
	</robot>
	
	<robot name="shelf16">
		<model dir="./resources" path="shelf.urdf" name="shelf" />
		<origin xyz="-2.35 1.75 0.0" rpy="0 0 0" />
	</robot>







	<static_object name="Ground_With_Texture">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
		<collision>
	        <origin xyz="0.0 0.0 -0.0001" rpy="0 0 0" />
	        <geometry>
	            <box size="100 100 0.0002" />  
	        </geometry>
	    </collision>
	    <visual>
	    	<!-- <origin xyz="0.0 0.0 0.0" rpy="0 0 0" /> -->
	        <origin xyz="0.0 0.0 -0.0001" rpy="0 0 0" />
	        <geometry>
	            <!-- <mesh filename="./resources/../../../model/test_objects/meshes/visual/ground.obj" scale="1.0 1.0 1.0"/> -->
	            <box size="100 100 0.0002" />
	        </geometry>
	        <material name="material">
		        <color rgba="0.5 0.5 0.5 1.0" />
	        </material>
	    </visual>
	</static_object>

	 <!--<static_object name="shelf">
		<origin xyz="0.0 -0.5 0.0" rpy="0 0 0" />
		<collision>
	        <origin xyz="0.0 -0.2315 0.39" rpy="0 0 0" />
	        <geometry>
	           <box size="1.0 0.463 0.02" />
	        </geometry>
	    </collision>
		<collision>
	        <origin xyz="0 -0.2315 0.09" rpy="0 0 0" />
	        <geometry>
	            <box size="1.0 0.463 0.02" />
	        </geometry>
	    </collision>
		<visual>
	        <origin xyz="0 0 0.0" rpy="0 0 0" />
	        <geometry>
	            <mesh filename="./resources/shelf.obj" /> 
	        </geometry>
	        <material name="material">
		        <color rgba="0.1 0.1 0.1 1.0" />
	        </material>
	    </visual>
		<visual>
	        <origin xyz="0.0 -0.2315 0.09" rpy="0 0 0" />
	        <geometry>
	           <box size="1.0 0.463 0.02" />
	        </geometry>
	        <material name="material">
		        <color rgba="0.1 0.1 0.1 1.0" />
	        </material>
	    </visual>
		<visual>
	        <origin xyz="0 -0.2315 0.39" rpy="0 0 0" />
	        <geometry>
	            <box size="1.0 0.463 0.02" />
	        </geometry>
	        <material name="material">
		        <color rgba="0.1 0.1 0.1 1.0" />
	        </material>
	    </visual>
		<visual>
	        <origin xyz="0 -0.2315 0.68" rpy="0 0 0" />
	        <geometry>
	            <box size="1.0 0.463 0.02" />
	        </geometry>
	        <material name="material">
		        <color rgba="0.1 0.1 0.1 1.0" />
	        </material>
	    </visual>
		<visual>
	        <origin xyz="0 -0.2315 0.97" rpy="0 0 0" />
	        <geometry>
	            <box size="1.0 0.463 0.02" />
	        </geometry>
	        <material name="material">
		        <color rgba="0.1 0.1 0.1 1.0" />
	        </material>
	    </visual>
	</static_object>-->

	
	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<!--view center all-->
 		<!-- <position xyz="5.16502 ,0.323767, 0.826771" />
		<vertical xyz="0.0 0 1.0" />
		<lookat xyz="4.18688, 0.121413, 0.778789" />  -->
		<!-- robot top view when is 0,0 -->
	 	<position xyz="-0.166922 -0.122112   1.79856" />
		<vertical xyz="-0.0482529 0.00598945   0.998817" />
		<lookat xyz="-0.00747756   -0.124966    0.811362" /> 
	</camera>

</world>
